body, html{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #eef4f9;
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	scroll-behavior: smooth;
	
	
}
.FlexContainer{
	
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
  margin-left: -15px;
}
.FlexPosition{
	align-items: center;
	justify-content: center;
}



  .column {
	
	flex-direction: column;
	flex:0 1 50%;	
  }

.sticky{
	position: fixed;
        	top: 0;
			z-index: 1000;
			width:100%;
	
}


nav{
	width: 100%;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	background: #00316b;
}

ul{
	width: 60%;
	margin: 0 auto;
	padding:0;
	display: flex;
justify-content: flex-end;

}

ul li {
	display: inline-flex;
	padding: 20px;
	text-align: center;
	
}
ul li:hover
{
	background-color:#e91e63;
}
ul li a:hover{
	color: #fff;
	text-decoration: none;
}
.toggle{
	width: 100%;
	padding: 10px 20px;
	text-align: right;
	box-sizing: border-box;
	background: #001f44;
	color: #fff;
	font-size: 30px;
	display: none;
}
.logo{
	position: absolute;
	display: flex;
	padding: 15px 300px;
	justify-content: center;
	align-items: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4:hover {background-color: #e7e7e7;}

.section1{
	padding-top: 80px;
	
	
	box-sizing: border-box;

	
}
.section2{
	
	
	padding-top: 80px;
	text-align: center;
	
	
}
.mr-left{
	margin-left: 5%;
}

.TextSplit{
	display: flex;
	flex-flow: column wrap;
	justify-content:center;
	align-items: center;

}


.SvgIcon{
	position:absolute;
	
	
	
}
.SvgImg{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: 'images/blob1(1).svg';
	width: 100px;
	height: 100px;
}
.SvgImg1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	
}
.SvgImg2{

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
}
.SvgImg3{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
}
.ConceptImg{
	display: flex;
	width: 50vw;
	max-width: 450px;
	min-width: 270px;
}


.PopularPost{
	margin-top: 15px;
}
.TagsT{
	background-color:#5ca7db;
	border-radius:28px;
	border:1px solid #FF3946;
	display:inline-flex;
	text-shadow:0px 1px 0px #2f6627;
	text-decoration:none;
	font-size:15px;
	padding:16px 11px;
	color:#fff;
	font-weight: bold;
	width: 105px;
	height: 55px;
	cursor: pointer;
}
.Categories{
	margin-left: 10px;
}
.section3{
	padding-top: 40px;
	padding-bottom: 40px;
}




   @keyframes blob {
	 0%,100% {    d:path("M198,71c10.4,39.76-21.65,85.41-57.3,106.84s-75.13,18.68-103.07-1.32A91.16,91.16,0,0,1,2.62,81C12,42.62,47.12,3,91.06.17S187.67,31.19,198,71Z");
	 }
	
   }
   .svg-clipped{ 
	   webkit-clip-path: url(#svgPath); clip-path: url(#svgPath);
		transform: scale(0.8);
		
   }
   
   #svgPath{
	   
	   margin: 0 0 0 0;
	transform: scale(0.5)
   }
.img{
	position: relative;
flex-direction: column;
height: auto;
width: 100px;
}

.OurPricing{
	display: flex;

}
.OurPricingColumn{
	flex-direction: column;
	justify-content: center;
	flex-basis: 100%;
	flex-wrap: wrap;
	

}
.OurPricingLeft{
	flex-wrap: wrap;
	flex-basis: 41.677777%;
	
}
.OurPricingRight{
	flex-wrap: nowrap;
	flex-basis: 58.333333%;
}



.myButton {
	background-color:#5ca7db;
	border-radius:28px;
	border:1px solid #FF3946;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	text-align: center;
	
}
.myButton:hover {
	background-color:#606060;
	text-decoration:none;
	color:#f5c463;
}
.myButton:active {
	position:relative;
	top:1px;
}




.ImgPosition{
	padding-top: 20px;
	padding-bottom: 20px;
}
.LinkS{
text-decoration: none; 
color:#DD5A6C;
}
.ContactUs{
	color: #DD5A6C;
}

.box{
width: 250px;
height: 450px;
background: white;
  margin-left: auto;
  margin-right: 10px;
  
transition: 1s;
cursor: pointer;
	}
.box1{
		width: 26vw;
		height: 80vh;
		background: white;
		  margin-left: auto;
		  margin-right: 10px;
		  
		transition: 1s;
		cursor: pointer;
			}
.boxMargin{
	margin-top: 15px;
}
.box:hover{
	transform: scale(1);
	color: #fff;

	box-shadow: 2px 2px 2px #333;
	background-color:#606060;
	}
.box1:hover{
		transform: scale(1);
		color: #fff;
	
		box-shadow: 2px 2px 2px #333;
		background-color:#606060;
		}

.enjoy-css {
  display: inline-flex;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 13px;
  border-radius: 15px;
  font: normal 16px/normal "Times New Roman", Times, serif, #334673;
  color: #334673;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(221,217,217,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #334673;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #334673;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #334673;
}

form {
    margin: 24px 0 0 0;
}

form input {
    width: 100%;
}
form span {
    display: flex;
    overflow: hidden;
 }
 

.rocket{

	width:50vw;
	height: 100vh;
	position: relative;
	
	

}
.img1{
	
	
	position: relative;
	
	
}
.img2{
	
	left: 10vw;
	top:8vh;
	position: absolute;
	
}
.img3{	
	
	top: 20vh;
	position: relative;

}

.responsive{
	width:20vw;
	height: 100vh;
}
.responsive1{
	width:100%;
	height:auto;
}
.responsive2{
	width:40vw;
	height: 30vh;
}
.responsive3{
	width: 50vw;
	height: 20vh;

}
.otherSections{
	background-color: white;


	
	
	
	
}
.FlexFooter{
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-right: 0px;
  padding-left: 0px;
  margin-right: 20px;
  margin-left: 20px;
  flex:0 3 50%;
}
.ColumnFooter{
	flex-direction: column;
	
}
.footerBckgr{
	background-color: white;
	
}
@media screen and (max-width: 992px) {
	.order1{
		order: 1;
	}
	.order2{
		order: 2;
	}
  }
  @media screen and (max-width: 800px) {
	.toggle{
		display: block;
	}
	ul{
		width: 100%;
		display: none;
	}
	ul li {
		display: block;
		text-align: center;
	}
	.active{
		display:flex;
		flex-direction: column;
	}
	.logo{
		display: none;
	
	}
  }
  @media screen and (max-width: 1300px){
	  .logo{
		padding: 15px 30px;
	  }
  }
  @media (max-width: 576px) {
	.OurPricing {
		display: flex;
		flex: 0 0 50%;
		flex-flow:row wrap;
	  }
	  .order1{
		  order: 1;
	  }
	  .order2{
		  order:2;
	  }
  }
  
  @media (min-width: 768px) {
	.OurPricing {
	  display: flex;
	  flex: 0 1 50%;
	}
	.order1{
		order: 1;
	}
	.order2{
		order:2;
	}
  }
  
  @media (min-width: 992px) {
	.container {
	  max-width: 960px;
	}
  }
  
  @media (min-width: 1200px) {
	.container {
	  max-width: 1140px;
	}
  }

